
@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }
  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gris2);
  padding: 4rem;
  background-color:rgb(32, 31, 31) ;
}
.nombre-usuario {
  color: white;
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}

.form-usuario {
    background-color: white;
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: rgb(192, 192, 192);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}